<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>currentQuarter</string>
		<key>Title</key>
		<string>currentQuarter</string>
		<key>Titles</key>
		<array>
			<string>Fall</string>
			<string>Winter</string>
			<string>Spring</string>
			<string>Summer</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>Fall</string>
			<string>Winter</string>
			<string>Spring</string>
			<string>Summer</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>showPastQuarters</string>
		<key>Title</key>
		<string>showPastQuarters</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showFutureQuarters</string>
		<key>Title</key>
		<string>showFutureQuarters</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>ascending</string>
		<key>Title</key>
		<string>ascending</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>CHE411Lab</string>
		<key>Title</key>
		<string>CHE411Lab</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
